//
//  dev.xcconfig
//  Memories
//
//  Created by Paul Nicolet on 26/05/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ENV = dev
BACKEND_URL = https:/$()/api-dev.ikigai.fyi
AMPLITUDE_API_KEY = a559a5b51a65fe2a19fefa2811ff7862
POSTHOG_API_KEY = phc_AmcjGP1xtoj7nuipPfG9zWRx9NUED8n0lwxuS8GNsQ7
APP_GROUP_NAME = group.ikigai.Memories.dev
