<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>AMPLITUDE_API_KEY</key>
	<string>$(AMPLITUDE_API_KEY)</string>
	<key>APP_GROUP_NAME</key>
	<string>$(APP_GROUP_NAME)</string>
	<key>BACKEND_URL</key>
	<string>$(BACKEND_URL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ikigai.memories</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>memories</string>
			</array>
		</dict>
	</array>
	<key>ENV</key>
	<string>$(ENV)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>strava</string>
		<string>instagram-stories</string>
	</array>
	<key>POSTHOG_API_KEY</key>
	<string>$(POSTHOG_API_KEY)</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Send photos to support chat</string>
</dict>
</plist>
